@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: Mali, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  padding: 0;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* colors */
  --white: #fff;
  --black: #000;
  --primary-color: #A96224;
  --light-orange: #F9F6F4;
  --brown-color-25: rgba(168, 96, 74, 0.25);
  --brown-color-50: rgba(168, 96, 74, 0.5);
  --brown-color: rgba(168, 96, 74, 1);
  --error: #ff0606;

  /* padding space */
  --padding-50: 50px;
  scroll-behavior: smooth;
}
#root {
  margin: 0 auto;
  padding: 0;
}